/* line 2, scss/doubtfire.scss */
#doubtfire-footer * {
  animation: none;
  animation-delay: 0;
  animation-direction: normal;
  animation-duration: 0;
  animation-fill-mode: none;
  animation-iteration-count: 1;
  animation-name: none;
  animation-play-state: running;
  animation-timing-function: ease;
  backface-visibility: visible;
  background: 0;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: transparent;
  background-image: none;
  background-origin: padding-box;
  background-position: 0 0;
  background-position-x: 0;
  background-position-y: 0;
  background-repeat: repeat;
  background-size: auto auto;
  border: 0;
  border-style: none;
  border-width: medium;
  border-color: inherit;
  border-bottom: 0;
  border-bottom-color: inherit;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-style: none;
  border-bottom-width: medium;
  border-collapse: separate;
  border-image: none;
  border-left: 0;
  border-left-color: inherit;
  border-left-style: none;
  border-left-width: medium;
  border-radius: 0;
  border-right: 0;
  border-right-color: inherit;
  border-right-style: none;
  border-right-width: medium;
  border-spacing: 0;
  border-top: 0;
  border-top-color: inherit;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top-style: none;
  border-top-width: medium;
  bottom: auto;
  box-shadow: none;
  box-sizing: content-box;
  caption-side: top;
  clear: none;
  clip: auto;
  color: inherit;
  columns: auto;
  column-count: auto;
  column-fill: balance;
  column-gap: normal;
  column-rule: medium none currentColor;
  column-rule-color: currentColor;
  column-rule-style: none;
  column-rule-width: none;
  column-span: 1;
  column-width: auto;
  content: normal;
  counter-increment: none;
  counter-reset: none;
  cursor: auto;
  direction: ltr;
  display: inline;
  empty-cells: show;
  float: none;
  font: normal;
  font-family: inherit;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  height: auto;
  hyphens: none;
  left: auto;
  letter-spacing: normal;
  line-height: normal;
  list-style: none;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: disc;
  margin: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  max-height: none;
  max-width: none;
  min-height: 0;
  min-width: 0;
  opacity: 1;
  orphans: 0;
  outline: 0;
  outline-color: invert;
  outline-style: none;
  outline-width: medium;
  overflow: visible;
  overflow-x: visible;
  overflow-y: visible;
  padding: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  page-break-after: auto;
  page-break-before: auto;
  page-break-inside: auto;
  perspective: none;
  perspective-origin: 50% 50%;
  position: static;
  /* May need to alter quotes for different locales (e.g fr) */
  quotes: '\201C' '\201D' '\2018' '\2019';
  right: auto;
  tab-size: 8;
  table-layout: auto;
  text-align: inherit;
  text-align-last: auto;
  text-decoration: none;
  text-decoration-color: inherit;
  text-decoration-line: none;
  text-decoration-style: solid;
  text-indent: 0;
  text-shadow: none;
  text-transform: none;
  top: auto;
  transform: none;
  transform-style: flat;
  transition: none;
  transition-delay: 0s;
  transition-duration: 0s;
  transition-property: none;
  transition-timing-function: ease;
  unicode-bidi: normal;
  vertical-align: baseline;
  visibility: visible;
  white-space: normal;
  widows: 0;
  width: auto;
  word-spacing: normal;
  z-index: auto;
}
/* line 152, scss/doubtfire.scss */
#doubtfire-footer .fa {
  font-family: FontAwesome;
}
/* line 155, scss/doubtfire.scss */
#doubtfire-footer a, #doubtfire-footer a .fa {
  cursor: pointer;
}

/* line 182, scss/doubtfire.scss */
#doubtfire-footer {
  background: #323232;
  border-top: 1px solid rgba(17, 17, 17, 0.5);
  font-family: Open Sans,"Segoe UI","Helvetica",sans-serif;
  text-align: left;
  margin: 0;
  padding: 0;
  position: fixed;
  z-index: 1600;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0px 10px;
  padding-top: 5px;
}
/* line 196, scss/doubtfire.scss */
#doubtfire-footer label {
  display: none;
}
/* line 199, scss/doubtfire.scss */
#doubtfire-footer ul {
  background-image: none;
  float: left;
  list-style: none none;
  margin: 0 !important;
  padding: 0;
  padding-bottom: 10px;
}
/* line 206, scss/doubtfire.scss */
#doubtfire-footer ul.doubtfire-footer-menu-right {
  position: absolute;
  right: 20px;
}
/* line 210, scss/doubtfire.scss */
#doubtfire-footer ul li {
  background-image: none;
  float: left;
  height: 100%;
  list-style: none none;
  margin: 0 !important;
  padding: 0;
  color: #EEE;
  position: relative;
  margin-right: 10px !important;
  top: 10px;
}
/* line 221, scss/doubtfire.scss */
#doubtfire-footer ul li:first-child {
  min-width: 0px;
}
/* line 223, scss/doubtfire.scss */
#doubtfire-footer ul li:first-child img {
  position: relative;
  bottom: 10px;
}
/* line 228, scss/doubtfire.scss */
#doubtfire-footer ul li a, #doubtfire-footer ul li i {
  padding: 6px 20px;
  border-radius: 0px;
  border: none;
  color: white;
  background: #404040;
  position: relative;
  margin: 0px;
  text-decoration: none;
  font-weight: normal;
  text-align: center;
  display: block;
}
/* line 231, scss/doubtfire.scss */
#doubtfire-footer ul li a.red-bg, #doubtfire-footer ul li i.red-bg {
  background: #9E2222;
}
/* line 234, scss/doubtfire.scss */
#doubtfire-footer ul li a.blue-bg, #doubtfire-footer ul li i.blue-bg {
  background: #2A8FBD;
}
/* line 237, scss/doubtfire.scss */
#doubtfire-footer ul li a.grey-bg, #doubtfire-footer ul li i.grey-bg {
  background: #404040;
}
/* line 240, scss/doubtfire.scss */
#doubtfire-footer ul li a.doubtfire-favourites, #doubtfire-footer ul li i.doubtfire-favourites {
  min-width: 125px;
  background: #404040;
}
/* line 244, scss/doubtfire.scss */
#doubtfire-footer ul li a.favourite-btn, #doubtfire-footer ul li i.favourite-btn {
  padding: 5px;
}
/* line 247, scss/doubtfire.scss */
#doubtfire-footer ul li a i, #doubtfire-footer ul li i i {
  background: none;
  padding: 0;
  line-height: 22px;
  font-size: 20px;
}
/* line 254, scss/doubtfire.scss */
#doubtfire-footer ul li i {
  background: none;
}
/* line 259, scss/doubtfire.scss */
#doubtfire-footer ul li:hover a.blue-bg {
  background: #257fa8;
}
/* line 262, scss/doubtfire.scss */
#doubtfire-footer ul li:hover a.red-bg {
  background: #891d1d;
}
/* line 265, scss/doubtfire.scss */
#doubtfire-footer ul li:hover a.grey-bg {
  background: #383838;
}
/* line 269, scss/doubtfire.scss */
#doubtfire-footer ul li:hover a.doubtfire-favourites:hover {
  background: #383838;
}
/* line 274, scss/doubtfire.scss */
#doubtfire-footer ul li:hover i {
  background: transparent;
}
/* line 277, scss/doubtfire.scss */
#doubtfire-footer ul li:hover #doubtfire-footer-menu-dropdown {
  display: block;
  position: absolute;
  bottom: 100%;
  width: 100%;
  border: 0px;
  padding: 0px;
}
/* line 284, scss/doubtfire.scss */
#doubtfire-footer ul li:hover #doubtfire-footer-menu-dropdown li {
  top: 0px;
  margin-right: 0px !important;
  margin-bottom: 2px;
}
/* line 289, scss/doubtfire.scss */
#doubtfire-footer ul li:hover #doubtfire-footer-menu-dropdown a {
  margin-right: 0px;
  padding: 10px 20px;
  background-color: #404040;
}
/* line 296, scss/doubtfire.scss */
#doubtfire-footer ul li #doubtfire-footer-menu-dropdown {
  display: none;
}
/* line 298, scss/doubtfire.scss */
#doubtfire-footer ul li #doubtfire-footer-menu-dropdown li {
  float: none;
  margin-right: 0px !important;
}
/* line 301, scss/doubtfire.scss */
#doubtfire-footer ul li #doubtfire-footer-menu-dropdown li a {
  background: transparent none;
}
/* line 304, scss/doubtfire.scss */
#doubtfire-footer ul li #doubtfire-footer-menu-dropdown li:hover a {
  background: #383838;
}
/* line 311, scss/doubtfire.scss */
#doubtfire-footer #doubtfire-user-search {
  position: relative;
}
/* line 313, scss/doubtfire.scss */
#doubtfire-footer #doubtfire-user-search .form-item {
  display: inline;
}
/* line 316, scss/doubtfire.scss */
#doubtfire-footer #doubtfire-user-search .form-type-textfield {
  margin: 0px !important;
  position: relative;
}
/* line 319, scss/doubtfire.scss */
#doubtfire-footer #doubtfire-user-search .form-type-textfield .ajax-progress-throbber {
  right: 10px;
}
/* line 322, scss/doubtfire.scss */
#doubtfire-footer #doubtfire-user-search .form-type-textfield input {
  height: 16px;
  padding: 7px;
  background-color: #282828;
  border: 1px solid #282828;
  box-shadow: inset 0 1px 1px #1B1B1B;
  color: white;
  margin: 0;
}
/* line 333, scss/doubtfire.scss */
#doubtfire-footer #doubtfire-user-search .form-type-select select {
  padding: 4px;
  background-color: #282828;
  border: 1px solid #282828;
  box-shadow: inset 0 1px 1px #1B1B1B;
  color: white;
}
/* line 341, scss/doubtfire.scss */
#doubtfire-footer #doubtfire-user-search input[type="submit"] {
  padding: 6px 20px;
  border-radius: 0px;
  border: none;
  color: white;
  background: #2A8FBD;
  position: relative;
  margin: 0px;
  text-decoration: none;
  font-weight: normal;
  text-align: center;
}
/* line 344, scss/doubtfire.scss */
#doubtfire-footer #doubtfire-user-search .ajax-progress-throbber {
  position: absolute;
  right: -20px;
  top: 5px;
}
/* line 348, scss/doubtfire.scss */
#doubtfire-footer #doubtfire-user-search .ajax-progress-throbber .throbber {
  display: block;
  width: 15px;
  height: 15px;
  background: transparent url('../images/ajax_spinner.GIF?1441978529');
  background-size: cover;
}
/* line 356, scss/doubtfire.scss */
#doubtfire-footer #doubtfire-user-search .ajax-progress-throbber .message {
  display: none;
}
/* line 361, scss/doubtfire.scss */
#doubtfire-footer .doubtfire-enabled {
  padding-bottom: 55px;
}
/* line 365, scss/doubtfire.scss */
#doubtfire-footer #doubtfire-search-autocomplete {
  clear: both;
  display: block;
}
/* line 368, scss/doubtfire.scss */
#doubtfire-footer #doubtfire-search-autocomplete h3 {
  float: left;
  color: white;
  position: relative;
  left: 0px;
}
/* line 374, scss/doubtfire.scss */
#doubtfire-footer #doubtfire-search-autocomplete ul {
  clear: both;
}
/* line 376, scss/doubtfire.scss */
#doubtfire-footer #doubtfire-search-autocomplete ul li {
  margin-top: 10px !important;
  top: 0px;
}
/* line 379, scss/doubtfire.scss */
#doubtfire-footer #doubtfire-search-autocomplete ul li a {
  width: 120px;
}
/* line 386, scss/doubtfire.scss */
#doubtfire-footer .doubtfire-search-close {
  position: relative;
  cursor: pointer;
  left: 10px;
  color: #44a8d6;
  text-decoration: underline;
}
/* line 392, scss/doubtfire.scss */
#doubtfire-footer .doubtfire-search-close:after {
  clear: both;
}
/* line 395, scss/doubtfire.scss */
#doubtfire-footer .doubtfire-search-close:hover {
  color: #2a8fbd;
}
/* line 400, scss/doubtfire.scss */
#doubtfire-footer .doubtfire-logo {
  width: 40px;
  height: 40px;
}
/* line 405, scss/doubtfire.scss */
#doubtfire-footer .doubtfire-append span {
  position: relative;
  top: 12px;
}
/* line 407, scss/doubtfire.scss */
#doubtfire-footer .favourite-star {
  font-size: 30px;
  line-height: 8px;
  position: relative;
  top: 4px;
  cursor: pointer;
}
/* line 414, scss/doubtfire.scss */
#doubtfire-footer .favourite-star:hover:before, #doubtfire-footer .favourite-star.active:before {
  content: "\2605";
  position: absolute;
}
