#doubtfire-footer {
  * {
    animation: none;
    animation-delay: 0;
    animation-direction: normal;
    animation-duration: 0;
    animation-fill-mode: none;
    animation-iteration-count: 1;
    animation-name: none;
    animation-play-state: running;
    animation-timing-function: ease;
    backface-visibility: visible;
    background: 0;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-position-x: 0;
    background-position-y: 0;
    background-repeat: repeat;
    background-size: auto auto;
    border: 0;
    border-style: none;
    border-width: medium;
    border-color: inherit;
    border-bottom: 0;
    border-bottom-color: inherit;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-collapse: separate;
    border-image: none;
    border-left: 0;
    border-left-color: inherit;
    border-left-style: none;
    border-left-width: medium;
    border-radius: 0;
    border-right: 0;
    border-right-color: inherit;
    border-right-style: none;
    border-right-width: medium;
    border-spacing: 0;
    border-top: 0;
    border-top-color: inherit;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top-style: none;
    border-top-width: medium;
    bottom: auto;
    box-shadow: none;
    box-sizing: content-box;
    caption-side: top;
    clear: none;
    clip: auto;
    color: inherit;
    columns: auto;
    column-count: auto;
    column-fill: balance;
    column-gap: normal;
    column-rule: medium none currentColor;
    column-rule-color: currentColor;
    column-rule-style: none;
    column-rule-width: none;
    column-span: 1;
    column-width: auto;
    content: normal;
    counter-increment: none;
    counter-reset: none;
    cursor: auto;
    direction: ltr;
    display: inline;
    empty-cells: show;
    float: none;
    font: normal;
    font-family: inherit;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    height: auto;
    hyphens: none;
    left: auto;
    letter-spacing: normal;
    line-height: normal;
    list-style: none;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: disc;
    margin: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    max-height: none;
    max-width: none;
    min-height: 0;
    min-width: 0;
    opacity: 1;
    orphans: 0;
    outline: 0;
    outline-color: invert;
    outline-style: none;
    outline-width: medium;
    overflow: visible;
    overflow-x: visible;
    overflow-y: visible;
    padding: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-after: auto;
    page-break-before: auto;
    page-break-inside: auto;
    perspective: none;
    perspective-origin: 50% 50%;
    position: static;
    /* May need to alter quotes for different locales (e.g fr) */
    quotes: '\201C' '\201D' '\2018' '\2019';
    right: auto;
    tab-size: 8;
    table-layout: auto;
    text-align: inherit;
    text-align-last: auto;
    text-decoration: none;
    text-decoration-color: inherit;
    text-decoration-line: none;
    text-decoration-style: solid;
    text-indent: 0;
    text-shadow: none;
    text-transform: none;
    top: auto;
    transform: none;
    transform-style: flat;
    transition: none;
    transition-delay: 0s;
    transition-duration: 0s;
    transition-property: none;
    transition-timing-function: ease;
    unicode-bidi: normal;
    vertical-align: baseline;
    visibility: visible;
    white-space: normal;
    widows: 0;
    width: auto;
    word-spacing: normal;
    z-index: auto;
  }
  .fa {
    font-family: FontAwesome;
  }
  a, a .fa {
    cursor: pointer;
  }
}

$bar-colour: #323232;
$bar-border-top-colour: rgba(17, 17, 17, 0.5);

$blue-color: #2A8FBD;
$blue-color-hover: darken($blue-color, 5%);
$red-color: #9E2222;
$red-color-hover: darken($red-color, 5%);
$grey-color: #404040;
$grey-color-hover: darken($grey-color, 3%);

@mixin barButton($bg_color) {
  padding: 6px 20px;
  border-radius: 0px;
  border: none;
  color: white;
  background: $bg_color;
  position: relative;
  margin: 0px;
  text-decoration: none;
  font-weight: normal;
  text-align: center;
}
#doubtfire-footer {
  background: $bar-colour;
  border-top: 1px solid $bar-border-top-colour;
  font-family: Open Sans,"Segoe UI","Helvetica",sans-serif;
  text-align: left;
  margin: 0;
  padding: 0;
  position: fixed;
  z-index: 1600;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0px 10px;
  padding-top: 5px;
  label {
    display:none;
  }
  ul {
    background-image: none;
    float: left;
    list-style: none none;
    margin: 0 !important;
    padding: 0;
    padding-bottom: 10px;
    &.doubtfire-footer-menu-right {
      position: absolute;
      right: 20px;
    }
    li {
      background-image: none;
      float: left;
      height: 100%;
      list-style: none none;
      margin: 0 !important;
      padding: 0;
      color: #EEE;
      position: relative;
      margin-right: 10px !important;
      top: 10px;
      &:first-child {
        min-width: 0px;
        img {
          position: relative;
          bottom: 10px;
        }
      }
      a, i {
        @include barButton($grey-color);
        display: block;
        &.red-bg {
          background: $red-color;
        }
        &.blue-bg {
          background: $blue-color;
        }
        &.grey-bg {
          background: $grey-color;
        }
        &.doubtfire-favourites {
          min-width: 125px;
          background: $grey-color;
        }
        &.favourite-btn {
          padding: 5px;
        }
        i {
          background: none;
          padding: 0;
          line-height: 22px;
          font-size: 20px;
        }
      }
      i {
        background: none;
      }
      &:hover {
        a {
          &.blue-bg {
            background: $blue-color-hover;
          }
          &.red-bg {
            background: $red-color-hover;
          }
          &.grey-bg {
            background: $grey-color-hover;
          }
          &.doubtfire-favourites {
            &:hover {
              background: $grey-color-hover;
            }
          }
        }
        i {
          background: transparent;
        }
        #doubtfire-footer-menu-dropdown {
          display: block;
          position: absolute;
          bottom: 100%;
          width: 100%;
          border: 0px;
          padding:0px;
          li {
            top: 0px;
            margin-right: 0px !important;
            margin-bottom: 2px;
          }
          a {
            margin-right: 0px;
            padding: 10px 20px;
            background-color: $grey-color;
          }
        }
      }
      #doubtfire-footer-menu-dropdown {
        display:none;
        li {
          float: none;
          margin-right: 0px!important;
          a {
            background: transparent none;
          }
          &:hover a {
            background: $grey-color-hover;
          }
        }
      }
    }
  }
  #doubtfire-user-search {
    position: relative;
    .form-item {
      display: inline;
    }
    .form-type-textfield {
      margin: 0px !important;
      position: relative;
      .ajax-progress-throbber {
        right: 10px;
      }
      input {
        height: 16px;
        padding: 7px;
        background-color: #282828;
        border: 1px solid #282828;
        box-shadow: inset 0 1px 1px #1B1B1B;
        color: white;
        margin: 0;
      }
    }
    .form-type-select {
      select {
        padding: 4px;
        background-color: #282828;
        border: 1px solid #282828;
        box-shadow: inset 0 1px 1px #1B1B1B;
        color: white;
      }
    }
    input[type="submit"] {
      @include barButton($blue-color);
    }
    .ajax-progress-throbber {
      position: absolute;
      right: -20px;
      top: 5px;
      .throbber {
        display: block;
        width: 15px;
        height: 15px;
        background: transparent image-url('ajax_spinner.GIF');
        background-size: cover;
      }
    }
    .ajax-progress-throbber .message {
      display: none;
    }
  }

  .doubtfire-enabled {
    padding-bottom: 55px;
  }

  #doubtfire-search-autocomplete {
    clear: both;
    display: block;
    h3 {
      float: left;
      color: white;
      position: relative;
      left: 0px;
    }
    ul {
      clear: both;
      li {
        margin-top: 10px !important;
        top: 0px;
        a {
          width: 120px;
        }
      }
    }
  }

  .doubtfire-search-close {
    position: relative;
    cursor: pointer;
    left: 10px;
    color: #44a8d6;
    text-decoration: underline;
    &:after {
      clear: both;
    }
    &:hover {
      color: darken(#44a8d6, 10%);
    }
  }

  .doubtfire-logo {
    width: 40px;
    height: 40px;
  }

  .doubtfire-append span {
    position: relative;
    top: 12px;
  }

  .favourite-star {
    font-size: 30px;
    line-height: 8px;
    position: relative;
    top: 4px;
    cursor: pointer;
    &:hover, &.active {
      &:before {
        content: "\2605";
        position: absolute;
      }
    }
  }

}
